@charset "UTF-8";

html {
    font-size: 100%;    
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DCFF17;
    color: #333;
}

.list {
    margin: 15px 0 30px 15px;
    font-size: 40px;
}

.photo {
    width: 50%;
    height: 15%;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    margin-top: 30px;
    padding: 60px;
    width: 50%;
    height: 15%;
    background-color: #827B7B;
    color: #fafafa;
    font-size: 45px;
}

.content h1 {
    text-align: center;
}

.button {
    margin: 80px auto 100px;
    text-align: center;
    
}

.button a{
    background-color: #D9D9D9;
    padding: 40px 60px;
    border: #333 solid 3px;
    font-size: 32px;
    border-radius: 30px;
}

.question {
    margin-top: 100px;
}

.question h1 {
    text-align: center;
    font-size: 45px;
}

.question p {
    text-align: center;
    font-size: 24px;
}

.answer {
    text-align: center;
}

.answer h1 {
    font-size: 45px;
}

.answer p {
    font-size: 25px;
    margin-bottom: 20px;
}

.answer img {
    width: 50%;
    height: 500px;
}

iframe {
    display: block;
    margin: 0 auto;
}